body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    z-index: 2;
    width: 60%;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    left: 20%;
    top: 40%    
}
.svg-holder{
    top: 25%;
    z-index: 11;
    position: relative;
}
.party {
    transition-duration: 0.4s;
    z-index: 12;
    overflow: hidden;
    position: fixed;
    bottom: 5px;
    right:5px;
    font-size: 25px;
    background:none;
    border:none;
}
.party:hover{
    transition-duration: 0.4s;
    font-size: 35px;
}